<div style="clear:both"></div>
<div class="footer">
  <div class="wrap">
    <div class="footer-logo">
      <a href="{{ "/" | relative_url }}"><span class="logo-left"><b>Luke's</b></span> <span class="logo-right"><b>Lights</b></span></a>
    </div>
    <ul class="social">
      <li><a href="https://www.facebook.com/pages/Lukes-Lights/283917108313844" target="_blank" class="facebook soc-icon">Facebook</a></li>
      <li><a href="https://twitter.com/LukesLightsNH" target="_blank" class="twitter soc-icon">Twitter</a></li>
      <li><a href="//instagram.com/lukeslightsnh" target="_blank" class="instagram soc-icon">Instagram</a></li>
      <li><a href="//www.youtube.com/channel/UCqaApr-JqOOQQQuFC4VBqmg" target="_blank" class="youtube soc-icon">YouTube</a></li>
      <li><a href="//vimeo.com/lukeslights" target="_blank" class="vimeo soc-icon">Vimeo</a></li>
    </ul>
    <p class="copyright">Copyright © Luke's Lights {{ 'now' | date: "%Y" }}.  No image is to be used without written consent.  All rights reserved.</p>
  </div>
</div>
<script src="{{ "/assets/jquery-1.10.2.min.js" | relative_url }}"></script>
<script src="{{ "/assets/bootstrap.min.js" | relative_url }}"></script>