<div style="clear:both"></div>
<div class="footer">
  <div class="wrap">
    <div class="footer-logo">
      <a href="{{ "/" | relative_url }}"><span class="logo-left"><b>Luke's</b></span> <span class="logo-right"><b>Lights</b></span></a>
    </div>
    <ul class="social">
      <li><a href="//www.facebook.com/pages/Lukes-Lights/283917108313844" target="_blank" class="facebook soc-icon">
        <i class="fab fa-facebook" title="Facebook"></i>
      </a></li>
      <li><a href="//twitter.com/LukesLightsNH" target="_blank" class="twitter soc-icon">
        <i class="fab fa-twitter" title="Twitter"></i>
      </a></li>
      <li><a href="//instagram.com/lukeslightsnh" target="_blank" class="instagram soc-icon">
        <i class="fab fa-instagram" title="Instagram"></i>
      </a></li>
      <li><a href="//www.youtube.com/channel/UCqaApr-JqOOQQQuFC4VBqmg" target="_blank" class="youtube soc-icon">
        <i class="fab fa-youtube" title="YouTube"></i>
      </a></li>
      <!-- <li><a href="//vimeo.com/lukeslights" target="_blank" class="vimeo soc-icon">Vimeo</a></li> -->
    </ul>
    <p class="copyright">Copyright © Luke's Lights {{ 'now' | date: "%Y" }}.  No image is to be used without written consent.  All rights reserved.</p>
  </div>
</div>
<script src="{{ "/assets/jquery-1.10.2.min.js" | relative_url }}"></script>
<script src="{{ "/assets/bootstrap.min.js" | relative_url }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44817154-2', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>