<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="HandheldFriendly" content="true" />
	<meta name="apple-mobile-web-app-capable" content="yes" /> 
  	{%- seo -%}
  	<meta name="keywords" content="Luke's Lights,LukesLights,Lukes Lights,Lukes Lights nh,Luke's Lights NH, lukeslights.tk, luke's lights dover nh">
  	<link rel="stylesheet" href="{{ "/assets/default.css" | relative_url }}">
  	<link rel="stylesheet" type="text/css" href="{{ "/assets/print.css" | relative_url }}" media="print">
	<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="{{ "/assets/print.css" | relative_url }}">
	<style>

	.header .navigation {display:block!important}
	</style>
	<![endif]-->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600' rel='stylesheet' type='text/css'>
	<script src="https://kit.fontawesome.com/5518ca3e40.js" crossorigin="anonymous"></script>
</head>
