body,
html {
    width: 100%
}

a,
a:active,
a:hover,
u {
    text-decoration: underline
}

.btn,
a.full {
    cursor: pointer
}

.onlySHOWon {
    display: none
}

.history-section,
.jumbotron,
.poll-section,
.sec-header h2,
.sec-header h4,
h2,
h4.warning {
    text-align: center
}

.header,
a {
    transition: all .5s
}

.footer-logo a,
.logo a,
h4.warning {
    font-style: italic
}

.jumbotron .wrap h2,
.navigation-menu ul li,
.sec-header h2,
h2,
h3 {
/*     text-transform: uppercase */
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

.mobile-only {
    display: none
}

*,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    line-height: 1.5;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    background: #000;
    color: #f5f4ee
}

a,
b {
    font-weight: 600
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.hr,
hr {
    border: 0;
    height: 1px;
    background: #fff;
    background-image: -webkit-linear-gradient(left, #333, #fff, #333);
    background-image: -moz-linear-gradient(left, #333, #fff, #333);
    background-image: -ms-linear-gradient(left, #333, #fff, #333);
    background-image: -o-linear-gradient(left, #333, #fff, #333);
    margin-top: 30px;
    margin-bottom: 30px;
    clear: both
}

.wrap {
    margin: 0 auto;
    width: 1265px;
    padding: 20px;
    overflow: auto
}

h2,
p {
    margin-bottom: 10px
}

.sec-header {
    background: url(images/header-banner1.jpg) no-repeat;
    background-size: auto 100%
}

.header,
.section {
    background-color: #000
}

.sec-header .wrap {
    height: 350px;
    padding-top: 175px
}

.sec-header h2 {
    color: #fff;
    font-size: 48px
}

a {
    color: #fff
}

h2,
p.intro {
    font-weight: 300
}

a:hover {
    color: #bdc3c7
}

a:active {
    color: green
}

a.full {
    display: block;
    text-decoration: none!important;
    color: inherit
}

.navigation,
.navigation-menu ul li a:hover {
    color: #f5f4ee
}

a.full:hover p.more {
    text-decoration: underline
}

.footer-logo a,
.logo a,
.year-cards a {
    text-decoration: none
}

p:last-of-type {
    margin-bottom: 0
}

p.intro {
    font-size: 125%
}

.section:after,
.section:before {
    content: "";
    clear: both;
    display: table
}

.left {
    float: left
}

.right {
    float: right
}

h2 {
    font-size: 35px
}

h3 {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px
}

h4 {
    font-size: 20px
}

.col1of2 {
    width: 48%;
    margin-left: 0;
    margin-right: 4%;
    float: left
}

.col1of3,
.col2of3 {
    margin-right: 5%;
    margin-left: 0;
    float: left
}

.col1of3 {
    width: 30%
}

.col2of3 {
    width: 65%
}

.col1of4 {
    width: 22%;
    margin-left: 0;
    margin-right: 4%;
    float: left
}

.col1of5 {
    width: 18%;
    margin-left: 0;
    margin-right: 2.5%;
    float: left
}

.last-col {
    margin-right: 0
}

.header {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, .7);
    z-index: 500;
    top: 0
}

.header .wrap {
    padding: 10px 20px;
    overflow: visible
}

.logo a {
    padding: 0;
    float: left;
    margin-top: -6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px
}

.header .badge a,
.history-section .badge {
    display: block;
    float: left;
    margin-right: 20px;
    position: relative;
    bottom: 25px;
    text-decoration: none;
    text-align: center
}

.history-section .badge {
    bottom: 25px
}

.header .badge .badge-inner,
.history-section .badge {
    color: red;
    background: -webkit-linear-gradient(red, #ab1616);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.header .badge .badge-inner div:first-child,
.history-section .badge div:first-child {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -8px;
    padding-right: 12px
}

.history-section .badge div:first-child {
    font-size: 130px;
    padding-right: 20px
}

.header .badge .badge-inner div:nth-child(2),
.history-section .badge div:nth-child(2) {
    text-transform: uppercase;
    margin-top: -20px;
    text-align: center
}

.history-section .badge div:nth-child(2) {
    font-size: 40px
}

.history-section p {
    margin-bottom: 20px;
}

.navigation {
    font-size: 15px;
    font-family: inherit;
    float: right;
    margin-top: 0
}

.header a {
    transition: 0!important
}

.navigation-menu {
    clear: both;
    padding-right: 0;
    float: right;
    text-align: right;
    margin: 10px 0 0
}

.navigation-menu ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    transition: all .2s;
    list-style-type: none
}

.navigation-menu ul li ul li:last-child {
    margin-right: 10px
}

.footer ol li a,
.footer ul li a,
.navigation-menu ul li a {
    text-decoration: none;
    color: #f5f4ee;
    display: inline-block;
    font-weight: 300
}

.footer ul li a,
.navigation-menu ul li a {
    width: 100%;
    height: 100%
}

.navigation-menu ul li.CURRENT {
    display: none
}

.navigation-menu ul li.CURRENT,
.navigation-menu ul li:hover {
    background: maroon
}

.navigation-menu ul li:last-child {
    margin-right: 0
}

.dropdown-menu>a {
    /*background: url(images/drop-down-arrow.png) center right no-repeat;*/
    padding-right: 18px
}

.dropdown-menu>a:after {
    content:"v";
    right: -12px;
    position: relative;
    text-transform: none;
    vertical-align: text-bottom;
}

.navigation-menu ul ul {
    width: 170px;
    position: absolute;
    z-index: 10000;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .3s ease-in;
    -moz-transition: height .3s ease-in;
    -o-transition: height .3s ease-in;
    -ms-transition: height .3s ease-in;
    transition: height .3s ease-in;
    float: left;
    margin: 10px 0 0 -10px
}

.navigation-menu ul ul li {
    background-color: #000;
    width: 170px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
    text-align: left;
    padding: 10px 0 10px 10px;
    margin-left: 0
}

.navigation-menu>ul>li:hover ul {
    height: 250px
}

.navigation-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f5f4ee;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
    cursor: pointer
}

.navigation-toggle:hover {
    background-color: #ddd
}

.navigation-toggle:focus {
    outline: 0
}

.navigation-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888
}

.navigation-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}

.cognito #c-forms-form h2 {
    display: none!important
}

.jumbotron {
    height: 500px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/2024hero.png) no-repeat top center fixed #000;
    background-size: contain;
    -webkit-background-size: contain
}

.jumbotron .wrap {
    padding-top: 200px
}

.jumbotron.lights-on .wrap {
    padding-top: 150px
}

.jumbotron .wrap h2 {
    font-size: 50px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #f5f4ee
}

.jumbotron .wrap h2 span,
.jumbotron .wrap h5 span {
    font-weight: 600
}

.jumbotron .wrap h5 {
    padding-top: 25px;
    font-size: 25px
}

.jumbotron.lights-on .col1of3>h2 {
    padding-top: 60px
}

.jumbotron.lights-on .update h2 {
    font-weight: 600;
    font-size: 25px
}

.iconrow {
    text-align: center;
    margin-bottom: 10px;
    font-size:35px;
}

.iconrow i {
    padding:0 20px;
}

.iconrow span {
    font-weight: 300;
}

.buttonrow {
    margin-top: 20px;
    text-align: center;
}

.buttonrow a:not(:last-child) {
    margin-right:20px;
}

h4.warning {
    font-weight: 400
}

.jumbotron.lights-on .update {
    font-family: 'Allerta Stencil', sans-serif!important
}

.jumbotron.lights-on .update h3 {
    font-size: 45px
}

.jumbotron.lights-on .update h3 span.units {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    position: relative;
    vertical-align: top;
    bottom: -5px
}

.jumbotron.lights-on .update h3.goal-num {
    font-size: 25px
}

.jumbotron.lights-on .update h3.goal-num span.units {
    font-size: 15px
}

.jumbotron.lights-on .update p {
    text-align: left;
    font-size: 12px;
    margin-bottom: 0
}

.update {
    background-color: #3498db;
    background-color: rgba(41, 128, 185, .5);
    padding: 15px;
    margin-top: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px
}

.info-box a,
.update a {
    color: inherit
}

h4.warning {
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    color: #fff;
    padding: 10px;
    background: rgba(255, 255, 255, .2);
    -webkit-animation: blink 5s step-end infinite;
    -moz-animation: blink 5s step-end infinite;
    -ms-animation: blink 5s step-end infinite;
    -o-animation: blink 5s step-end infinite;
    animation: blink 5s step-end infinite;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    text-transform: none;
    font-size: 20px;
    margin-bottom: 20px
}

h4.warning:after {
    clear: both
}

@-moz-keyframes blink {
    0% {
        background-color: rgba(255, 255, 255, .2);
        -webkit-animation-timing-function: ease-out
    }
    50% {
        background-color: rgba(255, 255, 255, .5);
        -webkit-animation-timing-function: ease-out
    }
}

@-o-keyframes blink {
    0% {
        background-color: rgba(255, 255, 255, .2);
        -webkit-animation-timing-function: ease-out
    }
    50% {
        background-color: rgba(255, 255, 255, .5);
        -webkit-animation-timing-function: ease-out
    }
}

@keyframes blink {
    0% {
        background-color: rgba(255, 255, 255, .2);
        -webkit-animation-timing-function: ease-out
    }
    50% {
        background-color: rgba(255, 255, 255, .5);
        -webkit-animation-timing-function: ease-out
    }
}

@-webkit-keyframes blink {
    0% {
        background-color: rgba(255, 255, 255, .2);
        -webkit-animation-timing-function: ease-out
    }
    50% {
        background-color: rgba(255, 255, 255, .5);
        -webkit-animation-timing-function: ease-out
    }
}

.warning-perm {
    background-color:rgba(255,255,255,0.3);
}

.warning-perm .wrap {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.warning-perm i {
    font-size: 32px;
}

.warning-perm p {
    margin:0!important;
}

.videos.section {
    background-color: #16a287
}

.about {
    background-color: #d91e18
}

.about .right {
    float: right!important
}

.about iframe.contact {
    overflow: hidden!important
}

.section.pif {
    background: url(images/PIF-cover.jpg) center no-repeat #000;
    background-size: cover
}

.statrow {
    text-align: center;
}

.statrow div {
    margin-bottom: 20px;
}

.statrow h3 span {
    font-weight: 600!important;
}

.section.pif i {
    font-size: 32px;
    justify-self: center;
}

.section.pif .grid {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.section.pif p {
    margin-bottom: 20px;
    margin-top: 20px;
}

.poll-section {
    background: url(images/poll-cover-FINAL.JPG) center top no-repeat #000;
    background-size: cover
}

.poll-section p {
    margin-bottom: 20px
}

#PDI_container8490612 .pds-box,
#PDI_container8490614 .pds-box,
#PDI_container8490614 div {
    margin: auto!important
}

.history-section {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1) ), url(images/history-section_hero-FINAL.jpg) center top no-repeat;
    background-size: cover
}

.history-section .badge,
.history-section .badge img {
    text-align: left;
    margin-left: 0
}

.history-section .col1of2 h2 {
    text-align: right;
    font-size: 50px;
    color: #ab1616;
}

.history-section .col1of2 h2 span {
    font-weight: 600;
    color: #fff
}

.hot-chocolate-section {
    background-color: #483c32;
    overflow: hidden;
    position: relative
}

.hot-chocolate-section ul li {
    text-align: left;
    padding-bottom: 5px
}

.hot-chocolate-section ul {
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px
}

.hot-chocolate-section ul li:nth-child(even) {
    margin-left: 200px
}

.hot-chocolate-section li:nth-child(odd) {
    float: left;
    font-weight: 600
}

.hot-chocolate-steam {
    background-image: url(images/hot-choc.png);
    width: 100%;
    height: 1000px;
    -webkit-animation: steam 10s linear 1;
    -moz-animation: steam 10s linear 1;
    -o-animation: steam 10s linear 1;
    animation: steam 10s linear 1;
    position: absolute;
    bottom: -600px;
    left: 0;
    right: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover
}

@-webkit-keyframes steam {
    0% {
        margin-bottom: 0
    }
    50% {
        margin-bottom: 300px
    }
    100% {
        margin-bottom: 600px!important
    }
}

@-moz-keyframes steam {
    0% {
        margin-bottom: 0
    }
    50% {
        margin-bottom: 300px
    }
    100% {
        margin-bottom: 600px!important
    }
}

@-o-keyframes steam {
    0% {
        margin-bottom: 0
    }
    50% {
        margin-bottom: 300px
    }
    100% {
        margin-bottom: 600px!important
    }
}

@keyframes steam {
    0% {
        margin-bottom: 0
    }
    50% {
        margin-bottom: 300px
    }
    100% {
        margin-bottom: 600px!important
    }
}

.history-section p {
    clear: both
}

.footer {
    border-top: 8px solid white;
}

.about p.video-txt {
    font-style: italic;
    padding-bottom: 10px
}

.footer h5 {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 600
}

.footer ul li {
    padding: 5px;
    display: inline;
    height: 100%;
    width: 100%
}

.footer ul li:last-child {
    padding-right: 0
}

.footer-logo {
    padding: 0;
    margin-top: -18px;
    margin-right: 20px;
    float: left
}

.footer-logo a {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px
}

.footer-logo .logo-left {
    color: red;
    background: -webkit-linear-gradient(red, #ab1616);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.footer-logo .logo-right {
    color: green;
    background: -webkit-linear-gradient(#0f0, #00b200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.footer ul.social {
    float: right
}

.footer .soc-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    font-size:32px;
}

.footer h6 {
    font-size: 15px
}

.video-section {
    background-color: gray;
    background-image: url(3931546598_073193e3ea_b.jpg);
    background-size: 100%
}

ul.alt-border li,
ul.alt-border li:nth-child(odd) {
    background: maroon
}

ul.alt-border li {
    width: 10%;
    height: 10px;
    float: left;
    border: none;
    padding: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    transition: 0
}

ul.alt-border li:nth-child(even) {
    background: green
}

.footer p.copyright {
    font-size: small;
    clear: both
}

.video-section .video1 {
    max-width: 50%
}

.navigation-toggle {
    display: none
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn-standard {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd
}

.btn-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    -webkit-box-shadow: none;
    box-shadow: none
}

.contact-us {
    width: 800px!important
}

.video-btn {
    width: 100px;
    margin-bottom: 10px
}

.videos iframe {
    clear: both;
    margin-bottom: 20px
}

.videos.section p {
    margin-bottom: 20px;
    clear:both;
}

.videos.section iframe {
    margin-bottom:0px
}

.videos.section .col1of2.last-col iframe {
    float:right;
}

.videos.section .col1of2.last-col {
    text-align:right;
}

.videos.vimeo iframe {
    margin-bottom: 0;
    width: 100%
}

.videos.vimeo .video {
    margin-bottom: 20px
}

.dates ul li {
    list-style: disc;
    margin-left: 30px
}

.dates ul {
    margin-bottom: 10px
}

.history .yr-1.picture {
    background: url(images/history/year1_small.JPG);
    background-size: cover
}

.history .yr-2.picture {
    background: url(images/history/year2_small.JPG);
    background-size: cover
}

.history .yr-3.picture {
    background: url(images/history/year3_small.JPG);
    background-size: cover
}

.history .yr-4.picture {
    background: url(images/history/year4_small.JPG);
    background-size: cover
}

.history .yr-5.picture {
    background: url(images/history/year5_small.JPG);
    background-size: cover
}

.history .yr-6.picture {
    background: url(images/history/year6_small.JPG);
    background-size: cover
}

.history .yr-7.picture {
    background: url(images/history/year7.JPG);
    background-size: cover
}

.city-hall .picture,
.history .year.picture {
    background-size: cover;
    height: 800px;
    background-position: center center
}

.history .next-yr.picture {
    height: auto
}

.info-box {
    padding: 50px;
    background-color: #3498db;
    background-color: rgba(41, 128, 185, .5);
    max-width: 500px;
    overflow: hidden;
    float: left
}

.yr-1 .info-box {
    margin: 161px 0 0
}

.yr-2 .info-box {
    margin-top: 400px;
    float: right
}

.yr-3 .info-box {
    margin: 200px 0 0
}

.yr-4 .info-box {
    margin-top: 50px;
    float: right
}

.yr-5 .info-box {
    margin: 150px 0 0
}

.next-yr .badge {
    background: url(images/6yearbadge.png) no-repeat;
    background-size: 100%;
    height: 215px;
    width: 127px;
    float: right;
    margin-bottom: -25px
}

.city-hall .pic1 {
    background-image: url('images/city hall/hall2014b.JPG')
}

.city-hall .info-box.hours {
    margin-top: 75px;
    float: right
}

.city-hall .info-box.stats {
    margin-top: 350px
}

.donations {
    background-color: #2980b9
}

.donations table {
    width: 100%;
    text-align: center
}

.donations table th {
    text-transform: uppercase;
    font-weight: 600;
    width: 33.33%;
    background-color: gray;
    background-color: rgba(255, 255, 255, .3)
}

.donations .pif th {
    width: 25%;
}

.donations table td,
.donations table th {
    padding: 10px
}

.donations table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .2)
}

.donations table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, .3)
}

.year-cards .card {
    padding: 20px;
    margin-bottom: 15px;
    position: relative
}

.year-cards a {
    position: relative
}

.year-cards h3 {
    padding: 0
}

.year-cards .card:before {
    content: ">>";
    position: relative;
    float: right;
    top: 6px
}

.year-cards .card:after {
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, .5);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
    display: block
}

.year-cards a:hover {
    color: inherit
}

.year-cards a:hover .card:after {
    opacity: 1
}

.sec-header.yr-1 {
    background: url(images/history/year1.JPG) left fixed;
    background-size: cover
}

.sec-header.yr-2 {
    background: url(images/history/year2.JPG) center fixed;
    background-size: cover
}

.sec-header.yr-3 {
    background: url(images/history/year3.JPG) center fixed;
    background-size: cover
}

.sec-header.yr-4 {
    background: url(images/history/year4.JPG) center fixed;
    background-size: cover
}

.sec-header.yr-5 {
    background: url(images/history/year5.JPG) center fixed;
    background-size: cover
}

.sec-header.yr-6 {
    background: url(images/history/year6.JPG) center fixed;
    background-size: cover
}

.sec-header.yr-7 {
    background: url(images/history/year7.JPG) center fixed;
    background-size: cover
}

.sec-header.yr-8 {
    background: url(images/history/year8.JPG) center fixed;
    background-size: cover
}

@media (max-width:1320px) {
    .wrap {
        width: 1100px
    }
    .jumbotron {
        /*background-position: left top;*/
        background-size: cover;
        -webkit-background-size: cover; 
    }
    .about .left.col1of2 {
        margin-right: 1%
    }
    .about iframe,
    .videos iframe {
        width: 500px
    }
}

@media (max-width:1199px) {
    .wrap {
        width: 970px
    }
    .header .badge {
        display: none
    }
    .jumbotron .wrap {
        padding-top: 150px
    }
    .jumbotron {
       /* background-size: auto 900px;*/
        background-attachment: scroll
    }
    .jumbotron.lights-on .col1of3>h2 {
        padding-top: 40px
    }
    .about iframe,
    .videos iframe {
        width: 450px
    }
    .logo {
        float: left
    }
    .city-hall .info-box.hours {
        margin: 0;
        position: absolute
    }

    .about .right {
        margin-bottom: 20px
    }

    .iconrow i {
        padding: 0 5px;
    }

    .iconrow {
        font-size: 36px;
    }
}

@media (max-width:1025px) {
    .dates hr,
    .history-section .col1of2.last-col,
    .hot-chocolate-steam {
        display: none
    }
    .wrap {
        width: 750px
    }
    .logo a {
        margin-top: 6px
    }
    .footer-logo a {
        margin-top: 0;
        margin-bottom: 5px
    }
    .header .wrap .logo a {
        font-size: 27px
    }
    .header {
        height: 70px
    }
    .navigation-menu ul li {
        padding: 5px 10px;
        margin: 0 5px
    }
    .navigation-menu ul ul {
        margin-top: 5px
    }
    .navigation-menu ul ul li {
        padding: 5px 10px
    }
    .jumbotron.lights-on {
        height: 700px;
        background-size: auto 1000px
    }
    .left,
    .right {
        float: none
    }
    .about .right {
        float: left
    }
    .col1of2,
    .col1of3 {
        width: 100%;
        margin-right: 0
    }
    .footer .col1of3 {
        width: 30%
    }
    .poll-section .col1of2 {
        margin-bottom: 10px
    }
    .history-section .col1of2 h2 {
        text-align: center;
        font-size: 35px
    }
    .about iframe,
    .video-page iframe,
    .videos iframe {
        width: 100%;
        height: 400px
    }
    .sec-header {
        height: 300px
    }
    .sec-header .wrap {
        padding-top: 150px
    }
    .update {
        width: 100%
    }
    .jumbotron.lights-on .col1of3>h2 {
        padding-top: 0
    }
}

@media (max-width:805px) {
    .header,
    .header:focus,
    .header:hover,
    .navigation {
        background-color: #222
    }
    .header,
    .jumbotron,
    .navigation-menu>ul>li:active ul,
    .navigation-menu>ul>li:hover ul {
        height: auto
    }
    .mobile-only {
        display: block
    }
    .wrap {
        width: auto;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 0;
        margin-left: 0
    }
    .header {
        overflow: visible;
        position: fixed
    }
    .header .wrap {
        padding: 5px 15px
    }
    .logo {
        width: auto;
        margin-bottom: -20px
    }
    .jumbotron {
        background-image: url(images/2016home-cover_small.jpg)
    }
    .jumbotron.lights-on {
        height: auto;
        padding-bottom: 20px
    }
    .jumbotron.lights-on .wrap {
        padding-top: 100px
    }
    .jumbotron .wrap {
        padding-top: 95px
    }
    .jumbotron .wrap h2,
    .sec-header .wrap h2 {
        font-size: 30px
    }
    .jumbotron .wrap h5 {
        font-size: 20px
    }
    .history-section {
        background-image: url(images/history-section_hero_small.jpg)
    }
    .footer-logo a {
        display: none!important
    }
    ul.alt-border li:nth-child(10),
    ul.alt-border li:nth-child(6),
    ul.alt-border li:nth-child(7),
    ul.alt-border li:nth-child(8),
    ul.alt-border li:nth-child(9) {
        display: none
    }
    ul.alt-border li {
        width: 20%
    }
    .navigation {
        width: 100%;
        float: none;
        overflow: hidden
    }
    .navigation-menu {
        width: 100%;
        margin-top: 10px
    }
    .navigation-menu ul {
        overflow: hidden;
        margin: 0
    }
    .navigation-menu ul li {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0
    }
    .collapse,
    .footer .col1of3.last-col {
        display: none
    }
    .dropdown-menu>a {
        padding-right: inherit;
        background-position: 70% center
    }
    .navigation-menu ul ul {
        width: 100%;
        position: static;
        margin: 0
    }
    .navigation-menu ul ul li {
        background: 0 0;
        width: 100%;
        text-align: center
    }
    .navigation-menu ul ul li:hover {
        background: #222
    }
    li.dropdown-menu:hover {
        padding-bottom: 0
    }
    .col1of4,
    .col1of5,
    .footer .col1of3 {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px
    }
    .footer ul.social {
        float: none
    }
    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition: height .35s ease;
        transition: height .35s ease
    }
    .collapse.in {
        display: block
    }
    .navigation-toggle {
        display: inline-block
    }
    .history .next-yr .badge,
    .history-section br,
    .sec-header h4 {
        display: none
    }
    .history-section .wrap {
        background-color: rgba(0, 0, 0, .3)
    }
    .sec-header {
        height: 200px
    }
    .sec-header .wrap {
        padding-top: 115px
    }
    .contact-us {
        width: 100%!important
    }
    .jumbotron.lights-on .update h3 span {
        vertical-align: middle
    }
    .city-hall .info-box.stats {
        width: 100%
    }
    .city-hall .info-box.hours {
        position: relative;
        float: left
    }
    .history .yr-1.picture {
        background: url(images/history/year1_small.JPG)
    }
    .history .yr-2.picture {
        background: url(images/history/year2_small.JPG)
    }
    .history .yr-3.picture {
        background: url(images/history/year3_small.JPG)
    }
    .history .yr-4.picture {
        background: url(images/history/year4_small.JPG)
    }
    .history .yr-5.picture {
        background: url(images/history/year5_small.JPG)
    }
    .city-hall .picture,
    .history .year.picture {
        height: auto;
        background-size: cover;
        background-position: center center
    }
    .info-box {
        margin: 0!important
    }
    .sec-header.header-picture {
        background: #000
    }
}

.button {
    border: 2px solid white;
    border-radius:0;
    padding: 10px 20px;
    font-size: 80%;
    cursor: pointer;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: all .5s;
    display: inline-block;
    -webkit-appearance: none;
}

.button:hover {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.cognito .button {
    margin-left:154px;
}

input {
    font-family:inherit;
}

#email {
    width: 250px;
    border: 0;
    font-size: 100%;
    padding: 3px;
    margin: 0
}

.homepagelabel {
    width: 150px;
    display: inline-block
}

#firstname {
    display: inline-block;
    border: 0;
    font-size: 100%;
    padding: 3px;
    width: 120px;
    margin-right: 5px
}

#lastname {
    border: 0;
    font-size: 100%;
    padding: 3px;
    width: 120px
}

.addressrequest {
    padding: 10px 0 0;
}

@media (max-width:500px) {
    #email,
    #firstname,
    #lastname,
    .cognito .button {
        display: block;
        width: 100%
    }
    #firstname {
        margin-bottom: 10px
    }

    .cognito .button {
        margin-left: 0;
    }
}

.history.year-cards .card {
    background: #227093;
}
